



.mainContProjectPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContProjectPage > h1 {
    color: #EA5C1A;
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: 19vw;
    font-size: 50px;
}
.mainContProjectPage > dl {
    align-self: flex-start;
    margin-left: 19vw;
    font-family: Verdana;
    font-size: 25px;
    list-style: none;
    padding: 0px;

    
}

.mainContProjectPage > dl > dt {
    float: left;
    clear: left;

    font-weight: bold;
  }
  .mainContProjectPage > dl > dt::after {
    content: ":";
  }
  .mainContProjectPage > dl > dd {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 30vw;
    
  }
.mainContProjectPage > p{
    width: 51vw;
    align-self: flex-start;
    margin-left: 19vw;
    font-size: 25px;
}
  
.mainContProjectPage > figure {
    display: flex;
    flex-direction: column;
}

.mainContProjectPage > figure > img {
    margin-top: 5vh;
    max-width: 63vw;
}