body {
    font-family: Helvetica;
    margin: 0px;
}

a:visited {
    color: #6C6C6C;
}
a:link { 
    color: #6C6C6C;
  }
a {
    text-decoration: none;
}


/*header for all pages */
.dropdown {
    position: absolute;
    background-color: white;
    height: fit-content;

}

.dropdown > ul {
    text-align: -webkit-left;
    list-style: none;
    padding: 0px;
}


.dropdown > ul > li:hover {
    background-color: #EA5C1A;

}

.dropdown > p {
    color:#EA5C1A;
    margin:0px;
    font-family: Helvetica;
    text-align: left;
    padding: 0px 0px 10px 10px;
    
}

.dropdown > ul > li > p {
    margin: 0px;
    padding: 10px 10px 10px 10px;
}

.dropdown > ul > li > p:nth-child(1) {
    padding-top:0px;
}

header {
    display: flex;
    height: fit-content;
    justify-content: space-around;
    
}

header > div:nth-child(1) {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    padding-left: 4.2vw;
}

header > div:nth-child(1) > a > img {
    padding-top: 14px;
    padding-bottom: 18px;
    width:20em;
    
}


header > div:nth-child(2) {
 
    color: #6C6C6C;
    margin-right: 2vw;
    margin-top: 1vh;
    overflow: initial;
    height: fit-content;

}
header > div:nth-child(2) > ul {
    display: grid;
    grid-template-columns:  repeat(3, 13vw);
    list-style: none;
    padding: 0%;
    text-align: right;
    margin-top: 0%;
    margin-bottom: 1vh;
    
    
}
header > div:nth-child(2) > ul > li:nth-child(1) {
    grid-column: 2/3;
    font-size: 15px;
}
header > div:nth-child(2) > ul > li:nth-child(2) {
    grid-column: 3/4;
    font-size: 15px;
}

header > div:nth-child(2) > nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-top: 3vh;
    padding: 0%;
    text-align: right;
    font-size: 18px;
    letter-spacing: 1px;
    height:5vh;
    align-items: flex-start;
    justify-content: space-evenly;
    
}

.dropdown-content {
    display: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}

header > form {
    display: flex;
    flex-direction: column;
    border-radius: 15px;

    display: none;
    position: absolute;
    height: 36vh;
    width: 20vw;
    background-color: white;

    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 20px 10px 20px;

    top: 20vh;

}
header > form >  button {
    align-self: center;
}
header > form > div:nth-child(1) {
    display: flex;
    flex-direction: inherit;
}

header > form > div:nth-child(2) {
    display: flex;
    flex-direction: row;
}


header > form > div:nth-child(1) > input {
    height: 30px;
    width: 18vw;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

    margin-top: 15px;
    margin-bottom: 25px;
}

header > form > button {
    width: 100px;
    height: 30px;
    background-color: #EA5C1A;
}



/*footer*/


footer{
    background-color: #EA5C1A;
    padding: 20px;
}

footer > div{
    color: white;
    font-size: 15px;
    width: 10vw;
    margin-left: 12vw;
    margin-bottom: 20px;
}
footer > div > p {
    margin: 5px;
}

footer > div > p:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}

.mainContProjectPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContProjectPage > h1 {
    color: #EA5C1A;
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: 19vw;
    font-size: 50px;
}
.mainContProjectPage > dl {
    align-self: flex-start;
    margin-left: 19vw;
    font-family: Verdana;
    font-size: 25px;
    list-style: none;
    padding: 0px;

    
}

.mainContProjectPage > dl > dt {
    float: left;
    clear: left;

    font-weight: bold;
  }
  .mainContProjectPage > dl > dt::after {
    content: ":";
  }
  .mainContProjectPage > dl > dd {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 30vw;
    
  }
.mainContProjectPage > p{
    width: 51vw;
    align-self: flex-start;
    margin-left: 19vw;
    font-size: 25px;
}
  
.mainContProjectPage > figure {
    display: flex;
    flex-direction: column;
}

.mainContProjectPage > figure > img {
    margin-top: 5vh;
}